.jumbotron {
    background: url("../img/cover.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    min-height: 100%;

}

#page-content {
    flex: 1 0 auto;
}

  
#sticky-footer {
    flex-shrink: none;
}